:root{

}
html{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

    
    
}
body{
    background-color: rgba(57, 59, 59, 0.418);
    
}
main{
    line-height: 1.4rem;
}


img{
    max-width: 100%;
    
}
.row{
    display: grid;
    background-color:#2B2B2B;
    grid-gap: 10px;
    grid-template-areas: 
    " logo-1 manu-1  sercebar-1";
}
/*-------ROW-----*/


.manu-1 ul{
    display: grid;
    padding: 15px;
    list-style: none;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
}
.manu-1 a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    line-height: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.manu-1 a:hover{
    background-color: rgb(58, 56, 52);
    box-shadow: #3e3d3d 2px 2px;
    border-radius: 3px;
}
.sercebar-1{
    max-width: 20px;
    margin: auto;
    cursor: pointer;

}

.sercebar-1:hover{
    cursor: pointer;
    box-shadow: #3e3d3d 2px 2px;
}
/*------ROW-1-------*/
.row-1{
    display: grid;
    background-color:#2B2B2B;
    grid-gap: 10px;
    grid-template-areas: 
    " logo-1 manu-1  sercebar-1";
    background-image: url(../PHOTOS/man.png);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-size:contain;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.ti{
    color: aliceblue;
    font-size: 50px;
    padding-top: 60px ;
}
.lo-1{
    color: aliceblue;
    font-size: 20px;
}
.reg-1{
    align-items: start;
}

.reg-1 ul li{
display: inline-block;
}

.reg-1 ul a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    background-color: #FF6306;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    padding: 10px 30px;

}


.reg-1 ul a:hover{
    background-color:#3e3d3d;
    box-shadow: #2B2B2B 2px 2px;
}

/*------ROW-2-------*/

.row-2{
    min-height: 600px;
    background-color: #FF6306;
    background-image:url(../PHOTOS/laer-bam.png);
    display: grid;
    grid-gap: 10px;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
}

.ti-1{
    text-align: center;
    margin: auto;
    font-size: 50px;
    color: aliceblue;
}
.lo-2{
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
}
.para-01{
    display: grid;
    grid-template-areas: 
    "para-1 para-1 para-1";
    grid-gap: 20px;
    justify-content: center;
    z-index: 10;
}
.para-1{
    padding: 10px;
    box-shadow: #6e4c4c92 5px 5px 5px 5px;
    max-width: 200px;
    height: 325px;
    text-align: center;
}

.bag-1 {
    background-color: #3e3d3d;
    color: aliceblue;
}
.tia-1{
    margin: 0px;
    padding: 0px;
}



/*------ROW-3-------*/

.row-3{
    min-height: 600px;
    background-color: #2B2B2B;
    display: grid;
    grid-gap: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
}

.ti-11{
    margin: auto;
    font-size: 50px;
    margin-top: 50px;
    color: aliceblue;

}
.lo-21{
    margin: auto;
    color: aliceblue;
}

.para-02{
    display: grid;
    grid-template-areas: 
    "para-1 para-1 para-1";
    grid-gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    color: aliceblue;
}

.para-11{
    padding: 10px;
    box-shadow: #6e4c4c92 5px 5px 5px 5px;
    max-width: 200px;
    height: 325px;
    text-align: center;
    background-color: #FF6306;
}

.dolar-1{
    background-color: #2B2B2B;
    border-radius: 2px;
    cursor: pointer;

}
/*------ROW-4-------*/
.row-4{
    display: grid;
    grid-template-areas:
    " ima-1 para-61";
}
.ima-1{
    min-width: 320px;
    background-image: url(../PHOTOS/man-2.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
}
.para-61{
    padding-left: 50px;
    background-color: #FF6306;
    color: aliceblue;.
}
.tia-62{
    font-size: 30px;
    margin-top: 80px;

}

.reg-2{
    margin-top: 50px;
}
.reg-2 ul{
    margin: 0px;
    padding-left: 0px;
}

.reg-2 ul li{
display: inline-block;
}

.reg-2 ul a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    background-color: #343231;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    padding: 10px 30px;

}


.reg-2 ul a:hover{
    background-color:#3e3d3d;
    box-shadow: #2B2B2B 2px 2px;
}


/*------ROW-5-------*/
.row-4{
    display: grid;
    grid-template-areas:
    " ima-1 para-61";
}
.ima-2{
    min-width: 320px;
    background-image: url(../PHOTOS/man-3.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
}
.para-61{
    padding-left: 50px;
    background-color: #FF6306;
    color: aliceblue;.
}
.tia-62{
    font-size: 30px;
    margin-top: 80px;

}

.reg-2{
    margin-top: 50px;
}
.reg-2 ul{
    margin: 0px;
    padding-left: 0px;
}

.reg-2 ul li{
display: inline-block;
}

.reg-2 ul a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    background-color: #343231;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    padding: 10px 30px;

}


.reg-2 ul a:hover{
    background-color:#3e3d3d;
    box-shadow: #2B2B2B 2px 2px;
}

/*------ROW-6-------*/
.row-6{
    display: grid;
    background-color:#343231;
    
}


.our{
    display: grid;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 30px;
}

.LORM{
    color: white;
    font-size: 12px;
    text-align: center;
}
.club-2{
    display: grid;
    grid-template-areas: 
    "CLUB-1 CLUB-2 CLUB-3 ";
    margin: 50PX;
}

.CLUB-1{
    text-align: center;
    color: white;
    font-size: 20px;
}

.CLUB-2{
    font-size: 20px;
    text-align: center;
    color: white;
}
.CLUB-3{
    font-size: 20px;
    text-align: center;
    color: white;
}
/*--=======================body  part-6 End================--*/

/*--=======================body  part-7 Start================--*/


.row-7{
    display: grid;
    background-image:url(../PHOTOS/man-3.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    grid-template-areas: 
    "LORM-2 our-2";
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
}
.colar-1{
    background-color: #5c250558;
    height: 900px;

}
.LORM-2{
    text-align: center;
    color: rgb(255, 255, 255);
   justify-items: center;
   margin-top: 400PX;
}

.our-2{
    
    text-align: center;
    color: rgb(254, 254, 254);
    font-size: 30px;
}

/*--=======================body  part-7 End================--*/


/*--=======================body  part-8 srart================--*/
.row-8{
    display: grid;
    margin: auto;
    background-color: #FF6306;
    min-height: 400px;
    background-image: url(../PHOTOS/laer-bam.png);
    background-repeat: no-repeat;
    background-position:left;
}

.subsc-1{
    margin: auto;
    text-align: center;
    color: aliceblue; 
}

.iprem-1{
    text-align: center;
    color: white;
    font-size: 15px;
}

.sub-9{
    
    text-align:left; 
    display: flex;
    margin: auto;
}
.email-1{
    height: 30px;
    border: #6a6868 2px solid;
}
.mit-5{
    height: 30px;
    
}


.submite-5{
    padding: 8px;
    background-color: #2C2C2C;
    color: white;
    cursor:pointer;
    
    
}
/*--=======================body  part-8 End================--*/
/*--=======================  footer-Stat================--*/
.footer-1{
    display: grid;
    grid-template-areas: 
    "mu-1 mu-2 mu-3 mu-4";
    margin: auto;
    text-align: center;
    color: aliceblue;
    background-color: #2C2C2C;
    min-height: 400px;
    grid-gap: 10px;
}

.barw-1{
    display: flex;
    float:left;
}
.mu-1{
    
    box-shadow: #524d4d58 2px 2px 2px 2px;
}

.barw-1{
    margin: auto;
    grid-columns:1/-1;
    grid-gap: 20px;
}
.ZAKIR{
    margin: auto;
    font-size: 20PX;
}
/*--=======================  footer-End================--*/

/*--================== max-media width-700==============--*/

@media(max-width:700px){
    .row{
        display: grid;
        grid-gap: 5px;
        grid-template-areas: 
        'logo-1'
        'manu-1'
        'sercebar-1';
    }
    .logo-1{
        max-width: 100px;
        margin: auto;
        margin-top: 20px;
    }
    .manu-1 ul{
        display: grid;
        grid: gap 1px;
        padding: 5px;
        list-style: none;
        grid-template-columns: repeat(5,1fr);
        text-align: center;
    }
    .manu-1 a{
        text-decoration: none;
        color: aliceblue;
        font-size: 15px;
        line-height: 20px;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .sercebar-1{
        max-width: 20px;
        margin: auto;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .row-1{
        background-size: cover;
        background-position:right;
    }

    .para-01{
        grid-template-areas: 
        'para-1 para-1';
    }
    .para-02{
        grid-template-areas: 
        "para-1 para-1";
    }


    .row-4{
        display: grid;
        grid-template-areas:
        " ima-1";
    }

    .row-7{

        background-image:url(../PHOTOS/man-3.png);
        background-size: cover;
        background-position:right;
        
    }

    .footer-1{
        grid-template-areas: 
        "mu-1 mu-2";
        margin: auto;
        
    }

    .ZAKIR{
        margin: auto;
        font-size: 15px;
    }
}

/*--================== max-media width-500==============--*/

@media(max-width:500px){
    
    .manu-1 ul{
        grid-template-columns:1fr;
        text-align: center;
        grid-gap: 10px;
        
    }

    .manu-1 a{
        text-decoration: none;
        color: aliceblue;
        font-size: 15px;
        background-color: #874c2ab4;
        cursor: pointer;
        padding: 0px 60px;
        border-radius: 5px;
    }

    .ti{
        font-size: 30px;
    }

    .lo-1{

        font-size: 15px;
        text-align: center;
    }
    
    .reg-1 ul a{
        font-size: 15px;
        background-color: #FF6306;
        border-radius:2px;
        cursor: pointer;
        margin-top: 5px;
        padding: 10px 10px;
    }
    .row-2{
        padding: 10px;
    }

    .ti-1{
        text-align: center;
        margin: auto;
        font-size: 35px;
        color: aliceblue;
    }
    .para-01{
        display: grid;
        grid-template-areas: 
        "para-1 para-1 ";
        grid-gap: 5px;
        justify-content: center;

    }
    .our h1{
        margin: auto;
        font-size: 20px;
    }
    .LORM{
        color: white;
        font-size: 8px;
        text-align: center;
    }

    .club-2{
        display: grid;
        grid-template-areas: 
        "CLUB-1 CLUB-2 ";
        margin: 50PX;
    }

    .our-2{
        text-align: center;
        color: rgb(254, 254, 254);
        font-size: 20px;
    }
    
    .ima-1{
        background-image: url(../PHOTOS/man-2.png);
        background-size: cover;
        background-position: center;
        min-height: 600px;
    }

    .ima-2{
        background-image: url(../PHOTOS/man-3.png);
        background-size: cover;
        background-position: center;
        min-height: 600px;
    }

    .para-61{
        background-color: #FF6306;
        color: aliceblue;
        
    }

    .tia-62{
        font-size: 30px;
        margin-top: 80px;
        margin: auto;
    
    }

    .ba-1{
        font-size: 10px;
    }

    .dolor-1 p{
        font-size: 15px;
        padding: 2px;
    }

    .ab-1{
        font-size: 10px;
    }
    
}








/*--================== max-media width-500==============--*/


@media(min-width:701px){
    
    .row-1{
    
    background-image: url(../PHOTOS/man.png);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-size:contain;
    align-items: start;
    justify-content: center;
        background-repeat: no-repeat;
    }
}


